button windowtitle label.subtitle {
    font-weight: normal;
}

list.navigation-sidebar row menubutton button {
  min-width: 0;
  min-height: 0;
}

list.navigation-sidebar row:not(:selected) menubutton button image {
  color: alpha(currentColor, 0.33);
}

entry.new-profile-entry {
  background-color: transparent;
}

streamdeckbuttonwidget:selected {
  background-color: transparent;
}

streamdeckbuttonwidget:selected > picture {
  outline: 2px solid @accent_color;
}

streamdeckbuttonwidget:selected:focus:focus-visible {
  outline: none;
}

streamdeckbuttonwidget:drop(active) {
  box-shadow: none;
}

streamdeckbuttonwidget:drop(active) picture {
  background-color: alpha(@card_bg_color, 2.0);
  filter: brightness(125%);
  transition: 250ms;
}

streamdeckbuttoneditor .cutout {
  background-color: @window_bg_color;
  border-radius: 9999px;
  padding: 2px;
}

popover.custom-icon-popover > contents {
  padding: 0;
}

popover.custom-icon-popover gridview {
  background-color: @popover_bg_color;
}

popover.custom-icon-popover gridview,
popover.custom-icon-popover gridview image {
  padding: 12px;
}

/* Dials */
streamdeckdialwidget {
  min-width: 72px;
  min-height: 72px;
  border-radius: 9999px;
  background-color: @card_bg_color;
}
